@import url('config.css');

body.about{
    display:grid;
    height:100vh;
    width:100vw;
    text-align: center;
    background: url('../img/flatlay-photography-of-laptop-977842.jpg');
    background-size: 100% 100%;
    overflow-y: hidden;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 12vh 80vh 10vh; 
    grid-template-areas: 
        "header header header header"
        "spaceL mainContainer mainContainer spaceR"
        "footer footer footer footer";
}
header{
    text-align: left;
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-areas: "logo home .";
    grid-template-columns: .1fr .05fr .70fr ;
    grid-template-rows: 1fr;
    justify-content: start;
    align-content: center;
}
header.about>h1{
    display:flex;
    flex-flow: row;
    justify-self: center;
    margin: 0;
    font-size: 3rem;
    padding-top: 1%;
}
header.about>h1>a{
    align-self: center;
    justify-self: flex-end;
    padding:5%;
}
header.about>a{
justify-self: center;
align-self: center;
font-size: 1.5rem;
}
.main-container{
    display:grid;
    height:80vh;
    grid-template-columns:1.5fr .4fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "aboutText nav projectText"
    "aboutText nav projectText";  
    grid-area: mainContainer;  
}
.navBar{
    grid-area:nav;
    background-color: var(--off-white);
    text-align: center;
    padding-right: 3vw;
}
.spaceL{
    grid-area:spaceL;
    width:var(--white-space-width);
    background-color: var(--off-white);
}
.spaceR{
    grid-area:spaceR;
    width:var(--white-space-width);
    background-color: var(--off-white);
}
.container{
    grid-area: container;

}
.about-text{
    grid-area: aboutText;
    font-size: 1.7em;
    background-color: var(--transparent-white);

}
.project-text{
    grid-area: projectText;
    background-color: var(--transparent-white);
    font-size: 2rem;
}

div.active{
    background-color:var(--off-white);
    font-family:"Anonymous Pro";
    overflow-y: scroll;
    text-align: left;
    font-size:1rem;
}
li.active{
    color:var(--light-green)
}
footer{
    background-color: var(--off-white);
    grid-area: footer;
}
.navBar>ul{
    list-style: none;
    font-size: x-large;

}
li{
    box-sizing: border-box;
    border-left: solid 1px;
    border-right: solid 1px;
    background-color: var(--off-white);
    color:black;
    padding-left: 20px;
    padding-right:20px;
    border-radius: 4px;
    box-shadow: black 2px 1px, var(--light-gray) -2px -1px;

}
a{
    color:inherit;
}