.Banner{
    grid-area: banner;
    background-image:url("../Images/family.png");
}
.container{
    display:grid;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas: "banner"
                          "";
}