@import url('config.css');

header.homepage{
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  background:url("../img/apple-dark.jpg"),rgba(0, 0, 0, 0.658);
  height:100vh;
  width:100vw;
  background-size: 100% 100%;
  justify-content: start;
  padding-top: 10vh;
  text-align: center;
  font-weight: lighter;
  text-transform: capitalize;
}
.background{
  background:rgba(14, 14, 14, 0.705);
  padding: auto;
}
header.homepage>.background>h1{
  font-size: 7rem;
  margin:1%;
}
header.homepage>.background>h2{
  font-size: 3rem;
  margin:1%;
  color: var(--off-white);
}
header.homepage>.background>h3{
  font-size: 2rem;
  margin:1%;
}
header.homepage>.background>h3>a{
  color:var(--light-green);
}
a{
  text-decoration: none;
}
.fa-github{
  color:var(--off-white);
}
@import url('config.css');

body.about{
    display:grid;
    height:100vh;
    width:100vw;
    text-align: center;
    background: url('../img/flatlay-photography-of-laptop-977842.jpg');
    background-size: 100% 100%;
    overflow-y: hidden;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 10vh 80vh 10vh; 
    grid-template-areas: 
        "header header header header"
        "spaceL mainContainer mainContainer spaceR"
        "footer footer footer footer";
}
header{
    text-align: left;
    grid-area: header;
    background-color: white;
}
header.about>h1{
    display:flex;
    justify-content: left;
    font-size: xxx-large;
    padding:0 0 0 2%;
    margin: 0;
}
.main-container{
    display:grid;
    height:80vh;
    grid-template-columns:1.5fr .5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "aboutText nav projectText"
    "aboutText nav projectText";  
    grid-area: mainContainer;  
}
.navBar{
    grid-area:nav;
    background-color: var(--off-white);
    text-align: center;
    padding-right: 3vw;
    
    
}
.spaceL{
    grid-area:spaceL;
    width:var(--white-space-width);
    background-color: var(--off-white);
}
.spaceR{
    grid-area:spaceR;
    width:var(--white-space-width);
    background-color: var(--off-white);
}
.container{
    grid-area: container;

}
.about-text{
    grid-area: aboutText;
    font-size: 1.7em;
    background-color: var(--transparent-white);

}
.project-text{
    grid-area: projectText;
    background-color: var(--transparent-white);
    font-size: 2rem;
}

div.active{
    background-color:var(--off-white);
    font-family:"Anonymous Pro";
    overflow-y: scroll;
    text-align: left;
    font-size:1rem;
}
li.active{
    color:var(--light-green)
}
footer{
    background-color: var(--off-white);
    grid-area: footer;
}
.navBar>ul{
    list-style: none;
    line-height: .65;
    font-size: xx-large;
}
a{
    color:inherit;
}
