@font-face {
  font-family: "afananregular";
  src: url("../Fonts/afanan.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Open Sans";
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 1fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " banner banner banner banner banner "
    " . subNav intro  intro ."
    " .  subNav music music ."
    " .  .  Programming Programming  . "
    " .  .  .  .  . ";
}

.banner {
  box-shadow: -3px -4px 2px inset black;
  color: royalblue;
  background-size: 100% 210%;
  background-position: 75% 50%;
  display: grid;
  grid-template-columns: 1fr 0.6fr 1.4fr;
  grid-template-rows: 0.3fr 1.7fr;
  grid-template-areas:
    "Title . NavCont"
    ". . .";
  grid-area: banner;
}
.NavCont {
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr 1.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
  grid-area: NavCont;
}

.music {
  grid-area: music;
}

.Programming {
  grid-area: Programming;
}
.intro {
  grid-area: intro;
}
.link {
  font-family: "afananregular";
  margin: auto;
  padding: 5px;
  font-size: 190%;
  color: crimson;
  text-decoration: none;
}

header {
  font-family: "afananregular";
  color: black;
  border: none;
  font-size: 220%;
  text-align: left;
  padding-left: 5px;
}

li > a {
  font-family: "afananregular";
  margin: auto;
  padding: 5px;
  font-size: 190%;
  color: royalblue;
  text-decoration: none;
}

.Title {
  font-family: "afananregular";
  color: black;
  border: none;
  font-size: 220%;
  text-align: left;
  padding-left: 5px;
  grid-area: Title;
}
