
/* Fonts */
@font-face {
  font-family: 'afananregular';
  src: url('../Fonts/afanan.ttf');
  font-weight: normal;
  font-style: normal;
}
/* Universal Selector */
*{
  font-family:'Open Sans';
}
/* Query Selectors */
@media screen and (min-width:1000px){
/* Grid Containers  */
.grid-container { 
    text-align: center;
    display: grid;
    grid-template-columns: 0.3fr 1.4fr 1.3fr 1.3fr 1.4fr 0.3fr;
    grid-template-rows: 1fr 0.4fr 1.4fr 0.4fr 1fr 0.4fr 0.2fr;
    grid-template-areas: 
    "Banner Banner Banner Banner Banner Banner"
    ". Intro Intro Intro Intro ." 
    ". AboutMe AboutMe AboutMe AboutMe ." 
    ". Referrals Referrals Referrals Referrals ."
    ". RefBody RefBody RefBody RefBody ." 
    ". Footer Footer Footer Footer ."
    ".   .      .      .      .    .";
  }

  .Banner {
    box-shadow: -3px -4px 2px inset black;
    color:royalblue;
    background-image: url("../Images/General\ Facebook\ Header.jpg");
    background-size:90% 120%;
    background-position: 19px -19px;
    display: grid;
    grid-template-columns: 1fr 0.6fr 1.4fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-template-areas: "Title . NavCont"
                         ". . .";
    grid-area: Banner;
  }

  .NavCont {
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr 1.1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . .";
    grid-area: NavCont;
  }

  .AboutMe {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 1.6fr;
    grid-template-rows: .3fr 1.7fr;
    grid-template-areas:
    "head head head" 
    "Dad Dad quote";
    grid-area: AboutMe;
  }
.head{
  grid-area: head;
}
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "aboutText aboutText aboutText" ". button .";
    grid-area: content;
  }

  .RefBody {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Text Coupon" ;
    grid-area: RefBody;
  }
}

@media screen and (min-width:600){
  /* Grid Containers  */
  .grid-container { 
      text-align: center;
      display: grid;
      grid-template-columns: 1.4fr 1.3fr 1.3fr 1.4fr;
      grid-template-rows: 1fr 0.4fr 1.4fr 0.4fr 1fr 0.4fr 0.2fr;
      grid-template-areas: 
      " Banner Banner Banner Banner"
      " Intro Intro Intro Intro " 
      " AboutMe AboutMe AboutMe AboutMe " 
      " Referrals Referrals Referrals Referrals "
      " RefBody RefBody RefBody RefBody " 
      " Footer Footer Footer Footer "
      "   .      .      .      .    ";
    }
  
    .Banner {
      box-shadow: -3px -4px 2px inset black;
      color:royalblue;
      background-image: url("../Images/General\ Facebook\ Header.jpg");
      background-size:90% 120%;
      background-position: 19px -19px;
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      grid-template-rows: 0.3fr 1.7fr;
      grid-template-areas: "Title  NavCont"
                           ".  .";
      grid-area: Banner;
    }
  
    .NavCont {
      display: grid;
      grid-template-columns: 0.9fr 1fr 1fr 1.1fr;
      grid-template-rows: 1fr;
      grid-template-areas: ". . . .";
      grid-area: NavCont;
    }
  
    .AboutMe {
      display: grid;
      grid-template-columns: 0.7fr 0.7fr 1.6fr;
      grid-template-rows: .3fr 1.7fr;
      grid-template-areas:
      "head head head" 
      "Dad Dad quote";
      grid-area: AboutMe;
    }
  .head{
    grid-area: head;
  }
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "aboutText aboutText aboutText" ". button .";
      grid-area: content;
    }
  
    .RefBody {
      display: grid;
      grid-template-columns: 0.8fr 1.2fr;
      grid-template-rows: 1fr;
      grid-template-areas: "Text Coupon" ;
      grid-area: RefBody;
    }
  }


  /*Class Selectors  */
  .link{
    font-family: 'afananregular';
    margin:auto;
    padding:5px;
    font-size: 190%;
    color:crimson;
    text-decoration: none;
  }
 
  
  .Title { 
    font-family: 'afananregular';
    color:black;
    border:none;
    font-size: 220%;
    text-align: left;
    padding-left: 5px;
    grid-area: Title; 
  }
  

  
  .Intro { 
    font-size: 150%;
      grid-area: Intro; 
    }
  

  
  .Dad { 
    padding-top:1.9%;
      object-fit: contain;
      max-width: 100%;
      grid-area: Dad;
     }
  
  .quote {
     grid-area: quote;
     }
  

  
  .aboutText { grid-area: aboutText; }
  
  .button { grid-area: button; }
  
  .Referrals { 
    font-style: bold;
    font-size:120%;
    grid-area: Referrals;
   }
  

  
  .Text { 
    grid-area: Text;
   }
  
  .Punchline { 
    grid-area: Punchline;
   }
  
  .Coupon {
    object-fit: contain;
    max-width: 100%;
     grid-area: Coupon; 
    }
  
  .Footer { 
    grid-area: Footer; 
  }
/* Tag Selectors */
  q{
    font-size:110%;
  }
  h1{
    font-family: 'afananregular';
    }

/* ID Selectors */    
#head{
  text-align: center;
}