Button {
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 22px;
    padding: 14px;
    border-radius: 50px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color:rgb(39,170,159);
    display: inline-block;
    align-items: center
}

Button:hover {
    background: #27AA9F;
}

Button:active {
    background: #27AA9F;
}

li{
    text-decoration: none;
    list-style: none;
}
ul{
    text-align: right
}
header{
    text-align: center;
}
span{
    text-align: left;  
}
p{
    text-align: center;
}

q {
    text-align: center;
}

h1 {
    text-align: center
}

h3 {
    text-align: center;
}
.container{
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:". Title  . navBar ."
                   ". Header Header Header ."
                         ". main main main ."
                          ". . about about ."
                          ". . refer refer .";
}
.item1{
    background:yellow;
    grid-area:navBar;
}
.item2{
    background:blue;
    grid-area:Title;
}
.item3{
    background:green;
    grid-area:Header;
}
.item4{
    background:red;
    grid-area:main;
}
.item5{
    background:purple;
    grid-area:about;
}
.item6{
    background:orange;
    grid-area:refer;
}