.container {
  display: grid;
  text-align: center;
  grid-template-columns: 0.5fr 0.7fr 2.6fr 0.7fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 2fr 1fr 1fr;
  grid-template-areas: 
      " . title slogan nav              . "
      " . header header header          . " 
      " . intro intro intro             . " 
      " . About About About             . "
      " . referrals referrals referrals . "
      " . footer footer footer           .";
}

.intro {
    background: orange;
    grid-area: intro;
}
.about {
  display: grid;
  grid-template-columns: 1.4fr 0.3fr 1.4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "dad dad h2"
                       "dad dad q";
    
  grid-area: About;
}

.dad{
    padding: 14% 0 10% 0;
    max-height:75.6%;
    display: block;
    transform: rotate(.25turn);
    background:pink;
    grid-area: dad;
}

.h2{
    background: lightBlue;
    grid-area: h2;
}
.quote{
    background:lightGrey;
    grid-area: q;
}

.title { 
    background: red;
    grid-area: title;
}

.slogan { grid-area: slogan; }

.header {
    background: lightGreen;
    grid-area: header;
}
.nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." ".";
    background: yellow;
    grid-area: nav;
}
.nav ul{
    list-style: none;
}
.footer {
    background: grey;
    grid-area: footer;
}

.referrals {
    background: purple;
    grid-area: referrals;
}

