.container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: " .title  slogan  nav."
        " . header header header."
        " . intro intro intro ."
        " . about about about ."
        " . referral referral referral ."
        " . footer footer footer .";
}

.nav {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: yellow;
    grid-area: nav;
}
.slogan{
    grid-area: slogan;
}
.nav ul{
    list-style: none;
}

.title {
    padding-top: 8%;
    padding-right: 10%;
    background: red;
    grid-area: title;
}

.header {
    background: lightGreen;
    grid-area: header;
}

.intro {
    background: orange;
    grid-area: intro;
}

.about {
    background: lightBlue;
    grid-area: about;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"dad  dad h2 "
                        "dad  dad q ";
}
.aboutH2{
    grid-area: h2;
}
.quote{
    grid-area: q;
}
#dad{
    grid-area: dad;
    transform: rotate(0.25turn);
    max-width: 100%;
    transform: scale(auto);
    
}

.referral {
    background: purple;
    grid-area: referral;
}

.footer {
    background: grey;
    grid-area: footer;
}





